main {
  flex: 1;
  background: #26242E;
  width: 340px;
  height: 100%;
}

main input#search {
  background: #3C4043;
  position: relative;
  top: 40px;
  height: 50px;
  width: 100%;
  border: 0;
  color: #D3D3D3;
  padding: 10px;
  font-size: 16px;
}

main div#result-search {
  position: relative;
  top: 70px;
}

main div#result-search ul {
  padding: 10px;
}

div#result-search ul li {
  background: skyblue;
  border-radius: 2px;
  padding: 4px 0 0 4px;
  border: 0;
  border-bottom: 1px solid #FFF;
}
